includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app
        - config
        - database/factories
        - database/seeders
        - routes
        - tests

    # The level 9 is the highest level
    level: 8

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
